
<div class="section1" id="section1">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div><!--col-md-* end-->
    </div><!--row end-->
    <div class="text-center">
      <%= image_tag("goodday.png", alt: 'biscuit', class: "biscuit-img img-responsive") %>
      <br>
      <div class="chalkboard hd1">#SmileMoreForAGoodDay</div>
      <br><br><br>
      <div class="scroll-txt">
        Scroll down<br>
        to know more!
      </div>
      <%= image_tag("scroll.png", alt: 'scroll', class: "scroll") %>
    </div>
  </div><!--container end-->
</div><!--section1 end-->


<div class="section2" id="section2">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 col-xs-6">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 col-xs-6">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-8">
        <div class="text-center">
        <div class="sec2-mgtop"></div>
          <div class="chalkboard hd2">Flip the Good Day Cookie</div>
          <div class="sec2-txt">See the Beautiful Magic Behind the Cookie</div>
        </div><!--text-center-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 col-xs-6">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 col-xs-6">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
      <div class="col-sm-2 hidden-xs">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag("cookie1.png", alt: 'cookie1', class: "img-responsive") %>
            </div>
            <div class="back">
              <%= image_tag("cookie2.png", alt: 'cookie2', class: "img-responsive") %>
            </div>
          </div><!--flipper-->
        </div><!--flip-container-->
      </div><!--col-sm-* end-->
    </div><!--row end-->
  </div><!--container end-->
</div><!--section1 end-->



<div class="section3" id="section3">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 text-center">
        <div class="chalkboard hd2 error-tw">Share A Smile</div>
        <div class="sec2-txt">Tweet a message and share a smile</div>
        <br><br>
        <div class="tweet-bar">
          <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
          <div class="input-group">
            <input type="text" class="form-control tweet-bar-txt" placeholder="Tweet your Heart Out !" id="tweet-message">
            <span class="input-group-addon">
              <button class="tweet-btn" id="tweet-submit">
                <%= image_tag("tw.png", alt: 'tweet', class: "tweet") %>
              </button>
            </span>
          </div><!--input-group end-->
        </div><!--tweet bar end-->
        <%= form_tag pages_connect_twitter_path, id: 'path_form' do %>
          <%= hidden_field_tag 'path', nil, id: 'file_path' %>
          <%= submit_tag 'save', class: 'collapse', id: 'submit_path' %>
        <% end %>
      </div><!--col-sm-* end-->
    </div><!--row end-->
    <br>
    <div class="load_div hide">
      <div id="loader"></div>
    </div>
    <br>
  </div><!--container end-->
</div><!--section1 end-->


